<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")
    @*@Html.Partial("_HtmlHeadPartial")*@
</head>
<body>
    <header>
        @Html.Partial("_NavbarPartial")
    </header>
    <div class="container-fluid text-center">
        @* <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_BreakingNewspartial");
            </div>
        </div>*@
        <div class="row content">
            @* <div class="col-sm-3">
                @Html.Partial("_RecentActivityTickerPartial")
            </div>*@
            <div class="col-sm-7 text-left">
                <p>@RenderBody()</p>
            </div>
            <div class="col-sm-2 sidenav">
                @Html.Partial("_AdsPartial")
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center">
        @Html.Partial("_FooterPartial")
    </footer>
</body>
</html>
