@{
    ViewBag.Title = "Search Results";
}
@model MyEBooks.Models.SearchResult
@if (Model.IsAvailable)
{
    <div class="visible-lg-inline visible-md-inline">
        <h2>
            Search Results for: @Model.SearchKeyword (found '@Model.Books.Count()' Books)
        </h2>
    </div>
    <div class="visible-sm-inline visible-xs-inline">
        <h3>
            Search Results for: @Model.SearchKeyword (found '@Model.Books.Count()' Books)
        </h3>
    </div>
    
    
    <div>
        <span>PageSize: @Model.Pager.PageSize</span> <span>PagerDisplayLength: @Model.Pager.PagerDisplayLength</span>
        <span>TotalItems: @Model.Pager.TotalItems</span> <span>TotalPages: @Model.Pager.TotalPages</span>
    </div>
    <div class="container-fluid">
        @foreach (var book in @Model.DisplayedBooks)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-nowrap">
                            <h3 class="panel-title">@book.Title.Substring(0,10)</h3>
                        </div>
                        <div class="panel-body">
                            <span>@book.SizeMB</span> <span>@book.PublishedDate</span> A jumbotron indicates
                            a big box for calling extra attention to some special content or information.A jumbotron
                            is displayed as a grey box with rounded corners. It also enlarges the font sizes
                            of the text inside it.Tip: Inside a jumbotron you can put nearly any valid HTML,
                            including other Bootstrap elements/classes.
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="container-fluid text-center">
            @Html.Partial("_PagerPartial", @Model.Pager)
        </div>
    </div>
}
else
{
    <h1 class="h2 alert-danger">
        Search Results for: @Model.SearchKeyword
    </h1>
    <p>Sorry, no ebooks matched your criteria.</p>
}
